header {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    background: #888;
}




/* footer */
.footer {
    padding: 0 4rem;
}

.footer .footer__inner {
    border-radius: 50px 50px 0 0;
    padding: 4rem;
    height: 100%;
    background: #652D83;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer__top .footer-logo{}
.footer__top .footer__main-menu-container{}
.footer__top .footer__main-menu-container .footer__main-menu{}
.footer__main-menu .footer-main-menu{
    display: flex;
    flex-direction: column;
}
.footer__main-menu .footer-main-menu > li{
    position: relative;
    display: flex;
    padding-right: 150px;
}
.footer__main-menu .footer-main-menu li .sub-menu{
    visibility: hidden;
    position: absolute;
    top: 15px;
    left: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__main-menu .footer-main-menu li .sub-menu.active{
    visibility: visible;
}
.footer__main-menu .footer-main-menu li .sub-menu > li{}
.footer__main-menu .footer-main-menu li .sub-menu > li a{
    display: block;
    font-size: var(--font-subtit);
    font-weight: 400;
    color: #fff;
}
.footer__main-menu .footer-main-menu li span{
    position: relative;
    font-size: var(--font-tit);
    color: #fff;
}
.footer__main-menu .footer-main-menu li span::before{
    content: "";
    position: absolute;
    top: 40%;
    left: -25px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
}





@media screen and (max-width:860px) {
    .footer {
        padding: 0rem;
    }
    .footer .footer__inner {
        border-radius: 0px;
    }
}


